#main-footer {
  background: #343a40;
  color: #ffffff;
}

#page-header {
  height: 10rem;
  background: url('../assets/img/background.jpg') fixed 80% 40%;
  color: #ffffff;
  border-bottom: #343a40;
  padding-top: 2rem;
}
